<div class="container">
    
    <div class="row">
        
        <div class="col-xs-6 col-xs-offset-2">
            
            <div class="row">
                <h1 class="text-center">Sweep Simulations.</h1>
            </div>

            <div class="medium-top-buffer">
                
                <div class="panel panel-default">
                    
                    <div class="panel-heading">X Axis
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" placeholder="Location in csv .. " ng-model="mainController.container.xAxis.location">
                    </div>
                    
                </div>

                <div class="panel panel-default" ng-repeat="yData in mainController.container.yAxis">
                    
                    <div class="panel-heading">Y Axis
                        <a ng-click="mainController.remove($index)"><i class="glyphicon glyphicon-remove pull-right text-muted"></i></a>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" placeholder="Location in csv .. " ng-model="yData.location">
                        <input type="text" class="form-control small-top-buffer" placeholder="Legend" ng-model="yData.legend">
                        <input type="text" class="form-control small-top-buffer" placeholder="Color" ng-model="yData.color">
                        <input type="text" class="form-control small-top-buffer" placeholder="Max Value" ng-model="yData.maxValue">
                    </div>
                    
                </div>
                
                <!-- Main Upload CSV Option. -->
                <button class="btn btn-block btn-info" click-directive>Upload CSV Data</button>
                <input id="fileUploader" type="file" style="display:none"  container = "mainController.container" uploader/>
                
            </div>
            
        </div>
        
        <!-- Sidebar Options -->
        <div class="col-xs-3 col-xs-offset-1">
            
            <div class="row">
                <h3 class="text-center">Options</h3>
                <button type="button" class="btn btn-success btn-block medium-top-buffer" ng-click="mainController.addNewRow()">Add Y Axis Data</button>
                <button type="button" class="btn btn-warning btn-block medium-top-buffer" ng-click="mainController.lastChoice()">Load Last</button>
            </div>
        </div>
        
    </div>

    
</div>